NODE_ENV=production
SHOPIFY_APP_URL=https://www.unoir.studio
SCOPES=read_products,write_products

SHOPIFY_API_KEY=replace_me
SHOPIFY_API_SECRET=replace_me

DATABASE_URL=postgresql://replace_me
REDIS_URL=rediss://replace_me

REMOVE_BG_API_KEY=replace_me

STORAGE_BUCKET=replace_me
STORAGE_REGION=auto
STORAGE_ENDPOINT=https://replace_me.r2.cloudflarestorage.com
STORAGE_ACCESS_KEY=replace_me
STORAGE_SECRET_KEY=replace_me
STORAGE_PUBLIC_BASE_URL=https://cdn.unoir.studio

PROCESS_JOBS_PER_HOUR=5
WORKER_CONCURRENCY=4
